@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr";
    src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArialRoundedMTProCyrBold";
    src: url("../fonts/ArialRoundedMTProCyr-Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}